<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap//dist/css/bootstrap.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row justify-content-center">
            <div class="col-md-8" v-if="!startGame">
                <h1 class="text-center">Welcome Fellow Adventurer!</h1>
                <p class="text-center">To get started, please enter your wizarding name!</p>
                <form>
                    <div class="text-center form-group mb-2">
                        <label for="wizardName" class="sr-only"></label>
                        <input name="wizardName" id="wizardName" 
                            class="form-control-lg" 
                            v-model="name"
                            @input="validateName"
                            required>
                        <button class="btn btn-primary btn-large" 
                            @click="createWizard"
                            :disabled="invalidName">
                            Start Game!
                        </button>
                        <p>{{ name }}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../dist/script/app.bundle.js"></script>
</body>
</html>