<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap//dist/css/bootstrap.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row justify-content-center">
            <div class="col-md-8" v-if="!startGame">
                <h1 class="text-center">Welcome Fellow Adventurer!</h1>
                <p class="text-center">To get started, please enter your wizarding name!</p>
                <form>
                    <div class="text-center form-group mb-2">
                        <label for="wizardName" class="sr-only"></label>
                        <input name="wizardName" id="wizardName" 
                            class="form-control-lg" 
                            v-model="name"
                            @input="validateName"
                            required>
                        <button class="btn btn-primary btn-large" 
                            @click="createWizard"
                            :disabled="invalidName">
                            Start Game!
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-12" v-else>
                <h1 class="text-center">Welcome to the Dark Forest, {{ wizard.name }}</h1>

                <textarea name="" id="" cols="30" rows="10" class="col-md-8" v-model="history" readonly></textarea>

                <p class="text-center">Enter a command:</p>
                <input type="text" class="form-control" v-model="command">
                <button class="btn btn-primary" @click="recieveCommand">Commit</button>
                <p>
                    <button class="btn btn-secondary" 
                        v-for="spell in wizard.spellbook" 
                        @click="castSpell(spell.name)">
                    {{ spell.name }}</button>
                </p>
                <p>
                    {{ wizard.name }}'s Health: {{ wizard.health }}
                </p>
                <p>
                    {{ wizard.name }}'s Mana: {{ availManaPots }}
                </p>
                <p>
                    {{ wizard.name }}'s potions: {{ wizard.potHolder.potions.length }}
                </p>
            </div>
        </div>
    </div>
    <script src="../dist/script/app.bundle.js"></script>
</body>
</html>